<form class="mt-2 container" #contactForm='ngForm' (ngSubmit)="logIn(contactForm.value)">

    <div class="mb-3">
        <label for="Input1" class="form-label">Email</label>
        <input type="email" class="form-control" id="Input1" placeholder="Enter Your Email" ngModel name="email" #email="ngModel" required email>
        <div class="error " *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors?.['required']">*Email is required*</div>
            <div *ngIf="email.errors?.['email']">*Please check your Email & Password *</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" ngModel name="password" #password='ngModel' required placeholder=" Enter Your Password">
        <div class="error " *ngIf="password.touched && password.invalid">
            <div *ngIf="password.errors?.['required']">*Username is required*</div>
        </div>
    </div>

    <button type="submit " class="btn btn-primary ">Login</button>
</form>